<section class="section section-sm section-first bg-default text-md-left">
        <div class="container">
          <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">


            <div class="col-lg-6 text-center wow fadeInUp"><img src="{{ horizon_photo.photo.url }}" alt="" width="556" height="382"/>
            </div>

            <div class="col-lg-6 wow fadeInRight" data-wow-delay=".1s">
              <div class="box-width-lg-470"><h3>Discover New Horizons</h3>
                <!-- Bootstrap tabs-->
                <div class="tabs-custom tabs-horizontal tabs-line tabs-line-big tabs-line-style-2 text-center text-md-left" id="tabs-7">

                    <!-- Nav tabs-->
                  <ul class="nav nav-tabs">
                      {% for item in horizon %}
                          {% if forloop.first %}
                          <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-7-{{ item.pk }}" data-toggle="tab">{{ item.name }}</a></li>
                          {% else %}
                          <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-{{ item.pk }}" data-toggle="tab">{{ item.name }}</a></li>
                          {% endif %}
                      {% endfor %}
                  </ul>

                  <!-- Tab panes-->
                  <div class="tab-content">
                      {% for item in horizon %}
                    <div class="tab-pane fade show active" id="tabs-7-{{ item.pk }}">

                      <p>{{ item.description}}</p>


{#                      <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="contact-us.html">Get in Touch</a>#}
{#                                                         <a class="button button-black-outline button-md" href="about.html">Read More</a>#}
{#                      </div>#}

</div>
                        {% endfor %}



{#                    <div class="tab-pane fade" id="tabs-7-2">#}
{#                      <p>We are proud to offer excellent quality and value for money in our tours, which give you the chance to experience your chosen destination in an authentic and exciting way.</p>#}
{#                      <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="contact-us.html">Get in Touch</a><a class="button button-black-outline button-md" href="about.html">Read More</a></div>#}
{#                    </div>#}
{#                    <div class="tab-pane fade" id="tabs-7-3">#}
{#                      <p>Our mission is to provide the ultimate travel planning experience while becoming a one-stop shop for every travel service available in the industry.</p>#}
{#                      <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="contact-us.html">Get in Touch</a><a class="button button-black-outline button-md" href="about.html">Read More</a></div>#}
{#                    </div>#}


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>