{% extends 'index.html' %}


{% block content %}
<!-- Swiper-->
      {% include 'swiper.html' %}

    <!-- Section Box Categories-->
      {% include 'style.html' %}

      <!-- Discover New Horizons-->
      {% include 'horizon.html' %}

      <!--	Our Services-->
      {% include 'services.html' %}

      <!-- Hot tours-->
      {% include 'tour.html' %}
      <!-- Different People-->
      {% include 'staff.html' %}

      <!-- Section Subscribe-->
      {% include 'subscribe.html' %}

      <!--	Instagrram wondertour-->
      {% include 'gallery.html' %}

      <!-- Page Footer--><a class="banner" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" target="_blank"><img src="{{ headerfooter.photo.url }}" alt=""/></a>

{% endblock %}