<section class="section section-sm">
        <div class="container">
          <h3>Our Services</h3>
          <div class="row row-30">
            {% for item in services %}
                <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon {{ item.icon }}"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">{{ item.name }}</a></h5>
                    <p class="box-icon-classic-text">{{ item.description }}</p>
                  </div>
                </div>
              </article>
            </div>
              {% endfor %}
          </div>
        </div>
      </section>